//colours
$darkblue: #00008b;
$darkslate: #483d8b;
$grey: #808080;
$seagreen: #23d8d8;
$lightgrey: #e2e2e2a1;

//Sizes
$xs: 0.5rem;
$normal: 1rem;
$sml: 1.5rem;
$med: 2rem;
$lar: 3rem;
$xl: 5rem;
$xxl: 7rem;

//Button radius and shadow
$button-radius: 30px;

//Fonts
$lobster: 'Lobster', cursive;
$ntr: 'NTR', sans-serif;

//Breakpoints
$xs-breakpoint:480px;
$sml-breakpoint: 641px;
$med-breakpoint: 768px;
$lg-breakpoint: 1024px;
